@import '../styles/common.scss';

.hero {
  position: relative;
  padding: 240px 0;
  background: url(./assets/background.jpg) no-repeat center center;
  background-size: cover;

  &--mask::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    opacity: 0.85;
    background-color: var(--white);
    clip-path: polygon(0 0, 90% 0, 70% 100%, 0 100%);
  }
  &__bg2 {
    background-image: url(./assets/blog-background.jpg);
  }

  &__heading {
    z-index: 1;

    h1 {
      color: color('main-gray');
    }
    p {
      line-height: 2;
    }
    .btn {
      padding: 0.5em 2em;
    }
  }
}