@import "../styles/common.scss";

.service {
  i {
    font-size: 42px;
  }
}
.skill {
  &__cover {
    img {
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
  }
  .card {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    color: color('main-green'); // 展开样式

    &:hover {
      text-decoration: none;
      color: color('main-green'); // 展开样式
    }
    &.collapsed { // 折叠样式
      color: color('main-gray');
    }
  }
}

$extensionColor: #f6f7fa;
.extension__split {
  color: $extensionColor;
}
.extension {
  background: $extensionColor;
  &__item {
    padding: 48px 16px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    
    &:hover {
      border-radius: 4px;
      background: var(--white);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      transform: translateY(-7px);
    }
  }
}

