@import "../styles/common.scss";

.latest-blog {
  &__item {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      transform: translateY(-7px);
    }
  }
  &__title {
    color: color('main-gray');
    font-size: 16px;
    transition: color 0.5s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    &:hover {
      color: color('main-green') !important;
    }
  }
  &__description {
    max-width: 600px;
    margin: 0 auto;
  }
  &__img {
    width: 100%;
    padding: 35%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &__avatar {
    img {
      width: 32px;
    }
    span {
      font-size: 12px;
    }
  }
}

.blog-view {
  &__img {
    width: 100%;
    padding: 35%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &__content {
    font-size: 14px;
  }
}